# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/build/**
.vscode
# whitelist the .vscode folder in .devcontainer
!.devcontainer/.vscode

.idea/

# never commit the doxygen / mkdocs output folder
**/html/**
doxygen-output
site

# pycache
**/__pycache__/**


# Python Distribution / packaging
**/seerep/**
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

**/other_packages/**
