global-exclude *

recursive-include seerep_msgs/protos *.proto
recursive-include seerep_com/protos *.proto
recursive-include seerep_msgs/fbs *.fbs
recursive-include seerep_com/fbs *.fbs

include setup.py
include pyproject.toml
include docs/pypi/README.md
include LICENSE
