global-exclude *

include seerep_msgs/protos/*.proto
include seerep_com/protos/*.proto
include seerep_msgs/fbs/*.fbs
include seerep_com/fbs/*.fbs

include examples/python/gRPC/util/*.py

include setup.py
include pyproject.toml
include docs/pypi/README.md
include LICENSE
