<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="workDir" default="/seerep/seerep-data/cognitiveWeeding/fr/20240611/mais_konv_chem"/>
    <arg name="classesMappingPath" default="/seerep/seerep-data/cognitiveWeeding/fr/label_seerep_fr_3_2024.json"/>
    <!-- <arg name="projectUuid" default="asdf"/> -->

    <node name="seerep_ros_communication_jsonPointDumper" pkg="seerep_ros_communication"
        type="seerep_ros_communication_jsonPointDumper" output="screen" clear_params="true">

        <rosparam param="workDir" subst_value="True">$(arg workDir)</rosparam>
        <rosparam param="classesMappingPath" subst_value="True">$(arg classesMappingPath)</rosparam>
        <!-- <rosparam param="projectUuid" subst_value="True">$(arg projectUuid)</rosparam> -->
    </node>
</launch>
