[data-md-color-scheme="default"] {
  --md-primary-fg-color: #6ABFA3;
  --md-accent-fg-color: #F7A712;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #6ABFA3;
  --md-accent-fg-color: #F7A712;
  --md-default-bg-color: #272d35;
}
