[data-md-color-scheme="default"] {
  --md-primary-fg-color: #6ABFA3;
  --md-accent-fg-color: #F7A712;

}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #6ABFA3;
  --md-accent-fg-color: #F7A712;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.4rem;
    width: 2.4rem;
}
