<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="topics" default="['/image', '/point_cloud2']"/>
    <arg name="hdf5FolderPath" default="/home/docker/workspace/seerep-data/"/>
    <node name="seerep_ros_communication_hdf5dump" pkg="seerep_ros_communication" type="seerep_ros_communication_hdf5dump" output="screen">
        <rosparam param="topics" subst_value="True">$(arg topics)</rosparam>
        <rosparam param="hdf5FolderPath" subst_value="True">$(arg hdf5FolderPath)</rosparam>
    </node>
</launch>
